<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/smitabose/IdeaProjects/CA3/src/test/java/org/example/MailLoginTesting.java">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="url" value="https://mail.google.com/"></parameter>
        <parameter name="username" value="smitaboseofficial@gmail.com"></parameter>
        <parameter name="password" value="Smita@0987"></parameter>
        <classes>
            <class name="org.example.MailLoginTesting"></class>
        </classes>
    </test>
</suite>